@use '@angular/material' as mat;
@use '../abstracts/variables' as variables;

@include mat.core();

$primary-palette: mat.define-palette(
    variables.$material-primary-palette,
    900,
    800,
    900
);

$accent-palette: mat.define-palette(
    mat.$grey-palette,
    700,
    500,
    900
);

$typography: mat.define-typography-config(
    $font-family: 'Inter, Arial, sans-serif',
);

$theme: mat.define-light-theme(
    (
        color: (
            primary: $primary-palette,
            accent: $accent-palette,
            warn: mat.define-palette(mat.$red-palette)
        ),
        typography: $typography,
        density: 0
    )
);

@include mat.all-component-themes($theme);