<mat-toolbar class="navbar">
    <a
        mat-button
        routerLink="/"
        class="brand"
    >
        Folio
    </a>

    <div class="search-container">
        <mat-form-field
            appearance="outline"
            class="search-bar"
            subscriptSizing="dynamic"
        >
            <mat-icon matPrefix>search</mat-icon>

            <input
                matInput
                type="search"
                placeholder="Search articles"
                aria-label="Search articles"
            />
        </mat-form-field>
    </div>

    <nav class="desktop-navigation">
        <a
            mat-button
            routerLink="/"
        >
            Articles
        </a>

        @if (isAuthenticated()) {
            <button
                mat-button
                type="button"
                (click)="logout()"
            >
                Logout
            </button>
        } @else {
            <a
                mat-button
                routerLink="/login"
            >
                Login
            </a>

            <a
                mat-flat-button
                color="primary"
                routerLink="/register"
            >
                Register
            </a>
        }
    </nav>

    <button
        mat-icon-button
        class="mobile-menu-button"
        [matMenuTriggerFor]="mobileMenu"
        aria-label="Open navigation menu"
    >
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #mobileMenu="matMenu">
    <a
        mat-menu-item
        routerLink="/"
    >
        Articles
    </a>

    @if (isAuthenticated()) {
        <button
            mat-menu-item
            type="button"
            (click)="logout()"
        >
            Logout
        </button>
    } @else {
        <a
            mat-menu-item
            routerLink="/login"
        >
            Login
        </a>

        <a
            mat-menu-item
            routerLink="/signup"
        >
            Register
        </a>
    }
</mat-menu>