<mat-toolbar class="navbar">
    <a
        mat-button
        routerLink="/"
        class="brand"
    >
        Folio
    </a>

    <div class="search-container">
        <mat-form-field
            appearance="outline"
            class="search-bar"
            subscriptSizing="dynamic"
        >
            <mat-icon matPrefix>search</mat-icon>

            <input
                matInput
                type="search"
                placeholder="Search articles"
            />
        </mat-form-field>
    </div>

    <nav class="desktop-navigation">
        <a
            mat-button
            routerLink="/"
        >
            Articles
        </a>

        <a
            mat-button
            routerLink="/login"
        >
            Login
        </a>

        <a
            mat-flat-button
            color="primary"
            routerLink="/register"
        >
            Register
        </a>
    </nav>

    <button
        mat-icon-button
        class="mobile-menu-button"
        [matMenuTriggerFor]="mobileMenu"
        aria-label="Open navigation menu"
    >
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #mobileMenu="matMenu">
    <a
        mat-menu-item
        routerLink="/"
    >
        Articles
    </a>

    <a
        mat-menu-item
        routerLink="/login"
    >
        Login
    </a>

    <a
        mat-menu-item
        routerLink="/register"
    >
        Register
    </a>
</mat-menu>