<h2 mat-dialog-title>
    {{ data.title }}
</h2>

<mat-dialog-content class="dialog__content">
    <p class="dialog__message">
        {{ data.message }}
    </p>
</mat-dialog-content>

<mat-dialog-actions class="dialog__actions" align="end">
    @if (data.cancelText) {
        <button mat-stroked-button type="button" (click)="cancel()">
            {{ data.cancelText }}
        </button>
    }

    <button mat-flat-button color="primary" type="button" (click)="confirm()">
        {{ data.confirmText ?? 'Close' }}
    </button>
</mat-dialog-actions>
