@use 'sass:map';

@use './variables' as variables;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin respond-to($breakpoint) {
    @if map.has-key(variables.$breakpoints, $breakpoint) {
        @media (min-width: map.get(variables.$breakpoints, $breakpoint)) {
            @content;
        }
    }
}